@page "/groups/add"
@page "/group/edit/{groupId:guid}"

@attribute [Authorize]
@using Aro.Admin.Presentation.UI.Validators
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations

@inject IGroupService GroupService
@inject IUserService UserService
@inject ICountryMetadataService CountryMetadataService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

@inject IValidator<GroupModel> groupValidator
@inject IValidator<PrimaryContactModel> primaryContactValidator

<PageTitle>@(IsCreateMode ? "Add Group" : "Edit Group")</PageTitle>

<link href="css/creategroup.css" rel="stylesheet" />

<div class="fullscreen-overlay">
    <div class="row g-0 h-100">
        <!-- Top Title -->
        <div class="col-12 card-bg-dark">

			<WizardHeader 
                HeaderTitle="@(IsCreateMode ? "Add New Group" : "Edit Group")"
				ReturnTo="/" />
        </div>

        <!-- Left panel bubbles -->
        <div class="col-sm-2 col-md-3 col-xl-2 border-end" style="border: #B3B3B3">

			<WizardSteps 
                StepTitles="StepTitles"
				ActiveStepIndex="ActiveStepIndex"
				AllStepsCompleted="GroupCreationComplete" />
        </div>

        <!-- Main content -->
        <div class="col-sm-10 col-md-9 col-xl-10 h-100 overflow-y-auto" style="background-color: #F6F6F6">
            <div class="p-5">

                @if (ActiveStepIndex == 0)
                {
                    <!-- STEP 1: GENERAL INFORMATION -->
                    <div class="vstack gap-2 mb-5">
                        <h3 class="fs-6">Step 1</h3>
                        <h2 class="fs-4">General Information</h2>
                    </div>

                    <MudForm @ref="groupForm"
                             Model="groupModel"
                             Validation="@(groupValidator.GetValidateValue())">

                        <div class="row gy-2">

                            <!-- Group Name -->
                            <div class="col-sm-8 col-xl-4">
                                <div class="form-group">
                                    <label for="groupName" class="form-label">Group Name *</label>
                                    <MudTextField @bind-Value="groupModel.GroupName"
                                                  For="@(() => groupModel.GroupName)"
                                                  id="groupName"
                                                  Immediate="true"
                                                  Validation="@(groupValidator.GetValidateValue())"
                                                  Required="true"
                                                  Variant="Variant.Outlined"
                                                  Margin="Margin.Dense" />
                                </div>


                            </div>
                            <div class="w-100"></div>

                            <!-- Address 1 -->
                            <div class="col-sm-10 col-xl-6">
                                <div class="form-group">
                                    <label for="addressLine1" class="form-label">Address Line 1 *</label>
                                    <MudTextField @bind-Value="groupModel.AddressLine1"
                                                  For="@(() => groupModel.AddressLine1)"
                                                  id="addressLine1"
                                                  Immediate="true"
                                                  Validation="@(groupValidator.GetValidateValue())"
                                                  Required="true"
                                                  Variant="Variant.Outlined"
                                                  Margin="Margin.Dense" />
                                </div>



                            </div>
                            <div class="w-100"></div>

                            <!-- Address 2 -->
                            <div class="col-sm-10 col-xl-6">
                                <div class="form-group">
                                    <label for="addressLine2" class="form-label">Address Line 2</label>
                                    <MudTextField @bind-Value="groupModel.AddressLine2"
                                                  For="@(() => groupModel.AddressLine2)"
                                                  id="addressLine2"
                                                  Immediate="true"
                                                  Validation="@(groupValidator.GetValidateValue())"
                                                  Variant="Variant.Outlined"
                                                  Margin="Margin.Dense" />
                                </div>


                            </div>
                            <div class="w-100"></div>

                            <!-- City & Country -->
                            <div class="col-sm-6 col-xl-2">
                                <div class="form-group">
                                    <label for="city" class="form-label">City *</label>
                                    <MudTextField @bind-Value="groupModel.City"
                                                  For="@(() => groupModel.City)"
                                                  id="city"
                                                  Immediate="true"
                                                  Validation="@(groupValidator.GetValidateValue())"
                                                  Required="true"
                                                  Variant="Variant.Outlined"
                                                  Margin="Margin.Dense" />
                                </div>


                            </div>

                            <div class="col-sm-6 col-xl-4">
                                <div class="form-group">
                                    <label for="country" class="form-label">Country *</label>
                                    <MudSelect @bind-Value="groupModel.Country"
                                               For="@(() => groupModel.Country)"
                                               id="country"
                                               Immediate="true"
                                               Validation="@(groupValidator.GetValidateValue())"
                                               Required="true"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense">

                                        @if (countryNames != null)
                                        {
                                            @foreach (var c in countryNames)
                                            {
                                                <MudSelectItem Value="@c">@c</MudSelectItem>
                                            }
                                        }
                                    </MudSelect>
                                </div>

                            </div>

                            <div class="w-100"></div>

                            <!-- Postal & Logo -->
                            <div class="col-sm-6 col-xl-2">
                                <div class="form-group">
                                    <label for="postalCode" class="form-label">Postal Code *</label>
                                    <MudTextField @bind-Value="groupModel.PostalCode"
                                                  For="@(() => groupModel.PostalCode)"
                                                  id="postalCode"
                                                  Required="true"
                                                  Variant="Variant.Outlined"
                                                  Margin="Margin.Dense" />
                                </div>

                            </div>

                            <div class="col-sm-6 col-xl-4">
                                <div class="form-group">
                                    <label for="fileInput" class="form-label">Upload Image</label>
                                    <MudFileUpload T="IBrowserFile"
                                                   Accept=".png,.jpg,.jpeg"
                                                   MaximumFileCount="1"
                                                   FilesChanged="OnFileChanged">
                                        <ActivatorContent>

                                            <MudTextField @bind-Value="_fileName"
                                                          id="fileInput"
                                                          Placeholder="Select file..."
                                                          ReadOnly
                                                          Variant="Variant.Outlined"
                                                          Adornment="Adornment.Start"
                                                          AdornmentIcon="@Icons.Material.Filled.Image"
                                                          Margin="Margin.Dense" />
                                        </ActivatorContent>
                                    </MudFileUpload>
                                </div>


                            </div>
                        </div>
                    </MudForm>
                }
                else if (ActiveStepIndex == 1)
                {
                    <!-- STEP 2: PRIMARY CONTACT -->
                    <div class="vstack gap-2 mb-5">
                        <h3 class="fs-6">Step 2</h3>
                        <h2 class="fs-4">Primary Contact Details</h2>
                    </div>

                    <MudForm @ref="primaryContactForm"
                             Model="@primaryContactModel"
                             Validation="@(primaryContactValidator.GetValidateValue())">

                        <div class="row gy-2">
                            <!-- Name -->
                            <div class="col-sm-8 col-xl-4 @(!IsCreateMode ? "d-none": "")">
                                <div class="form-group">
                                    <label for="name" class="form-label">Name *</label>
                                    <MudTextField @bind-Value="primaryContactModel.Name"
                                                    For="@(() => primaryContactModel.Name)"
                                                    id="name"
                                                    Immediate="true"
                                                    Validation="@(primaryContactValidator.GetValidateValue())"
                                                    Required="true"
                                                    Variant="Variant.Outlined"
                                                    Margin="Margin.Dense" />
                                </div>

                            </div>
                            <div class="w-100"></div>

                            <!-- Email -->
                            <div class="col-sm-10 col-xl-6">
                                <div class="form-group">
                                    <label for="email" class="form-label">Contact Email *</label>
                                    <MudTextField @bind-Value="primaryContactModel.Email"
                                                    For="@(() => primaryContactModel.Email)"
                                                    id="email"
                                                    Validation="@(primaryContactValidator.GetValidateValue())"
                                                    Required="true"
                                                    Variant="Variant.Outlined"
                                                    Margin="Margin.Dense" />
                                </div>

                            </div>
                            <div class="w-100"></div>

                            <!-- Phone -->
                            <div class="col-sm-6 col-xl-2 @(!IsCreateMode ? "d-none": "")">
                                <div class="form-group">
                                    <label for="countryCode" class="form-label">Country Code *</label>
                                    <MudSelect @bind-Value="primaryContactModel.CountryCode"
                                                For="@(() => primaryContactModel.CountryCode)"
												id="countryCode"
                                                Immediate="true"
                                                Validation="@(primaryContactValidator.GetValidateValue())"
                                                Required="true"
                                                Variant="Variant.Outlined"
                                                Margin="Margin.Dense">

                                        @if (countryCodes != null)
                                        {
                                            @foreach (var c in countryCodes)
                                            {
                                                <MudSelectItem Value="@c">+@c</MudSelectItem>
                                            }
                                        }
                                    </MudSelect>

                                </div>


                            </div>

                            <div class="col-sm-6 col-xl-4 @(!IsCreateMode ? "d-none": "")">
                                <div class="form-group">
									<label for="phoneNumber" class="form-label">Phone Number *</label>
                                    <MudTextField @bind-Value="primaryContactModel.PhoneNumber"
                                                    For="@(() => primaryContactModel.PhoneNumber)"
                                                    id="phoneNumber"
                                                    Required="true"
                                                    Variant="Variant.Outlined"
                                                    Margin="Margin.Dense" />
                                </div>

                            </div>

                        </div>
                    </MudForm>
                }
                else if (ActiveStepIndex == 2)
                {
                    <!-- STEP 3: REVIEW -->
                    <div class="vstack gap-2 mb-5">
                        <h3 class="fs-6">Step 3</h3>
                        <h2 class="fs-4">@(IsCreateMode ? "Review & Save" : "Review & Update")</h2>
                    </div>

                    <div class="row gy-2">

                        <!-- GENERAL INFO SUMMARY -->
                        <div class="col-12">
                            <h6>1. GENERAL INFORMATION</h6>
                        </div>

                        <SummaryRow Label="Group Name" Value="@groupModel.GroupName" />
                        <SummaryRow Label="Address Line 1" Value="@groupModel.AddressLine1" />
                        <SummaryRow Label="Address Line 2" Value="@groupModel.AddressLine2" />
                        <SummaryRow Label="City" Value="@groupModel.City" />
                        <SummaryRow Label="Country" Value="@groupModel.Country" />
                        <SummaryRow Label="Postal Code" Value="@groupModel.PostalCode" />

                        <div class="col-sm-4 col-lg-4"><span class="text-body-secondary">Logo</span></div>
                        <div class="col-sm-8 col-lg-4">
                            @if (!string.IsNullOrEmpty(logoPreview))
                            {
                                <img src="@logoPreview" class="img-thumbnail" style="max-height:120px;" />
                            }
                            else
                            {
                                <span>@FileUploadMessage</span>
                            }
                        </div>

                        <!-- CONTACT SUMMARY -->
                        <div class="col-12 mt-5">
                            <h6>2. PRIMARY CONTACT DETAILS</h6>
                        </div>

                        <SummaryRow Label="Name" Value="@primaryContactModel.Name" />
                        <SummaryRow Label="Contact Email" Value="@primaryContactModel.Email" />
                        <SummaryRow Label="Phone Number" Value="@($"+{primaryContactModel.CountryCode} {primaryContactModel.PhoneNumber}")" />
                    </div>
                }
            </div>

            <!-- BUTTONS -->
            <div class="d-flex flex-row-reverse p-5 border-top mb-5">
                <div class="hstack gap-2">
                    @if (ActiveStepIndex > 0 && !GroupCreationComplete)
                    {
                        <AroButton IsPrimary="false"
                                   IsBack
                                   Label="Back"
                                   OnClick="@GoToPreviousPage" />
                    }

                    @if (ActiveStepIndex < StepTitles.Count - 1)
                    {
                        <AroButton IsNext
                                   Label="Next"
                                   OnClick="@MoveNext" />
                    }
                    else
                    {
                        @if (GroupCreationComplete)
                        {
                            <AroButton Label="Edit Details"
                                       OnClick="@SwitchToEditView" />
                        }
                        else
                        {
                            <AroButton Label="@(IsCreateMode ? "Save" : "Update")"
                                       OnClick="@HandleGroupCreation" />
                        }
                    }

                </div>


            </div>
        </div>
    </div>
</div>


