@* @if (!HideFromRoutes.Contains(NavigationManager!.ToBaseRelativePath(NavigationManager.Uri))) *@
@* { *@
    @if (!sidebarOpen)
    {
        <div class="col-1 mh-100 aro-sidebar p-3 d-sm-none d-md-block border-end border-white">
            <div class="d-flex justify-content-center p-4">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" @onclick="ToggleSidebar" Class="text-white"></MudIconButton>
            </div>
        </div>

        <div class="col-12 aro-sidebar d-none d-sm-block d-md-none border-bottom border-white">
            <div class="d-flex justify-content-between p-4 ">
                <img src="aro-logo.svg" style="width: 150px" alt="ARO Digital Strategy" />
                <MudIconButton Icon="@Icons.Material.Filled.Menu" @onclick="ToggleSidebar" Class="text-white"></MudIconButton>
            </div>
        </div>
    }
    else
    {
        <div class="col-sm-12 col-md-3 aro-sidebar p-4">
            <div class="vstack gap-3">
                <div class="d-flex justify-content-between p-4">
                    <img src="aro-logo.svg" style="width: 150px" alt="ARO Digital Strategy" />
                    <MudIconButton Icon="@Icons.Material.Filled.Close" @onclick="ToggleSidebar" Class="text-white"></MudIconButton>
                </div>

                @foreach (var item in NavItems)
                {
				    var currentPath = new Uri(NavigationManager!.Uri).AbsolutePath.TrimStart('/');
                    var isActive = currentPath.Equals(item.Href.TrimStart('/'), StringComparison.OrdinalIgnoreCase);

                    <MudButton StartIcon="@item.Icon"
                               Variant="Variant.Text"
                               Class="text-white p-3 custom-nav-item"
                               Disabled="@isActive"
                               Href="@item.Href">
                        <MudText class="me-auto">@item.Label</MudText>
                    </MudButton>
                }
            </div>
        </div>
    }
@* } *@


@code {
    [Inject] private NavigationManager? NavigationManager { get; set; }

    public class NavItem
    {
        public string Label { get; set; }
        public string Href { get; set; }
        public string Icon { get; set; }
    }

    private List<NavItem> NavItems = new()
    {
        new NavItem
        {
            Label = "Groups List",
            Href = "/",
            Icon = Icons.Material.Outlined.AccountCircle
        },
        new NavItem
        {
            Label = "Users & Permissions",
            Href = "#",
            Icon = Icons.Material.Outlined.Key
        },
        new NavItem
        {
            Label = "Facilities & Services",
            Href = "#",
            Icon = Icons.Material.Filled.HomeRepairService
        }
    };

    public string[] HideFromRoutes = { "groups/add" };

    private bool sidebarOpen = false;

    private void ToggleSidebar()
    {
        sidebarOpen = !sidebarOpen;
    }
}